$versusblock_width : 200px;

.navbar-brand {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.team-name {
    z-index: 9999;
    font-size: 1.2em;
    color: #505050;
}

.team-votes {
    z-index: 9999;
    color: #505050;
}


.btn-create {
    width: 100%;
}

.maincitate {
    text-align: center;
}
.battlemainparent {
    .versuscitate {
        background: #E8E8E8;
        padding: 5px;
        margin: 15px;
        font-size: 4em;
        text-align: center;
        line-height: 130px;
        height: 140px;
    }
    .versusparent {
        background: #E8E8E8;
        // width: $versusblock_width;
        // margin: auto;
        // border: 2px solid #BEBEBE;
        padding: 5px;
        margin: 15px;
        border-radius: 3px;
        border: 1px solid #C8C8C8;
        box-shadow: 5px 5px #C8C8C8;
        .versusbody {
            .vsteam {
                cursor: pointer;
                // background: #0099CC	;
                background: white;
                width: auto;
                height: 130px;
                padding: 5px;
                color: white;
                font-weight: bold;
                font-size: 1.2em;
                font-family: arial;
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: column;

                img {
                    max-width: 100px;
                    position: absolute;
                }

                &:hover {
                    background: #DCDCDC	;
                }

            }
            .versus {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 5px;
                color: #343A40;
                font-weight: bold;
                font-size: 2em;
                font-family: arial;
                text-align: center;
            }
        }

        .versusmeta {
            .commentsparent {
                padding: 5px;
                font-weight: bold;
                font-size: 1em;
                text-align: center;
            }
        }

    }
}


.battledetailparent {
    .versuscitate {
        // background: #E8E8E8;
        padding: 5px;
        margin: 15px;
        font-size: 4em;
        text-align: center;
        line-height: 180px;
        height: 190px;
    }
    .versusparent {
        background: #E8E8E8;
        // width: $versusblock_width;
        // margin: auto;
        // border: 2px solid #BEBEBE;
        padding: 5px;
        margin: 15px;
        border-radius: 3px;
        border: 1px solid #C8C8C8;
        .versusbody {
            .vsteam {
                cursor: pointer;
                // background: #0099CC	;
                background: white;

                width: auto;
                height: 180px;
                padding: 5px;
                color: white;
                font-weight: bold;
                font-size: 2em;
                font-family: arial;
                text-align: center;

                display: flex;
                justify-content: center;
                flex-direction: column;

                img {
                    max-width: 100px;
                    position: absolute;
                }

                &:hover {
                    background: #DCDCDC	;
                }

            }
            .versus {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 5px;
                color: #343A40;
                font-weight: bold;
                font-size: 2em;
                font-family: arial;
                text-align: center;
            }
        }

        .versusmeta {
            .commentsparent {
                padding: 5px;
                font-weight: bold;
                font-size: 1em;
                text-align: center;
            }
        }

    }
}



.row-first {
    margin-top: 60px;
}
